.App {
  text-align: center;
}

.componentes {
  width: "100vw";
  height: "100vh";
  margin: 0;
  padding: 0
}

.contenedor-flexbox {
  display: flex; /*Convertimos al menú en flexbox*/
 /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
/*con esto alineamos de manera vertical*/
}